streamlit == 1.39.0
numpy
pandas
google-generativeai
apify-client
openpyxl
google-api-python-client
youtube-transcript-api
langchain 
langchain_ollama
langchain-google-genai
selenium
beautifulsoup4
lxml 
html5lib
python-dotenv