streamlit == 1.39.0
numpy
pandas
google-generativeai
apify-client
openpyxl
google-api-python-client
youtube-transcript-api
langchain 
langchain_ollama
langchain-google-genai
selenium
beautifulsoup4
lxml 
html5lib
python-dotenv
openai
pymongo
llama-index
pypdf2
pytrends
plotly
transformers
torch
huggingface-hub
tensorflow
tensorflow-hub
spacy
sentence-transformers